@model dynamic

@{
	ViewBag.Title = "Инструкции";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Инструкции</h2>

<ol>
	<li><a href="@Url.Content("~/Help/Руководство.pdf")">Общее руководство</a></li>
	<li><a href="@Url.Content("~/Help/Руководство_Ведение оздоровительных учреждений _сотрудники баз v1.0.pdf")">Ведение оздоровительных учреждений - сотрудники баз</a></li>
	<li><a href="@Url.Content("~/Help/Руководство_Ведение оздоровительных учреждений_сотрудники МОСГОРТУР v1.0.pdf")">Ведение оздоровительных учреждений - сотрудники Мосгортур</a></li>
	<li><a href="@Url.Content("~/Help/Руководство_Обработка заявлений v1.0.pdf")">Обработка заявлений</a></li>
	<li><a href="@Url.Content("~/Help/Профильные лагеря, формирование списков v1.1.pdf")">Профильные лагеря, формирование списков</a></li>
	<li><a href="@Url.Content("~/Help/Руководство_формирование отрядов v1.0.pdf")">Формирование отрядов</a></li>
	<li><a href="@Url.Content("~/Help/Руководство_работа с транспортом v1.0.pdf")">Работа с транспортом</a></li>
	<li><a href="@Url.Content("~/Help/Памятка для внесении информации в АИС Отдых (базы).pdf")">Памятка по внесению сведений об оздоровительных организациях</a></li>
</ol>
