@model RestChild.Domain.HotelPlacement
@{
	ViewBag.Title = "Справочник размещений отелей";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
	    <h2>Размещение отеля</h2>
    </div>
</div>
<div class="row">
	<div class="col-md-12">
		@using (Html.BeginForm("Save", "HotelPlacement", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()
			@Html.HiddenFor(model => model.Id)
			<fieldset class="form-horizontal">
				<div class="form-group">
					<label class="col-md-3 control-label text-right">Название</label>
					<div class="col-md-9">
						@Html.TextBoxFor(model => model.Name, new { @class = "form-control", autocomplete = "off" })
						@Html.ValidationMessageFor(model => model.Name)
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-9 col-md-offset-3">
						<button type="submit" class="btn btn-default btn-primary">
							<i class="glyphicon glyphicon-pencil"></i> Сохранить
						</button>
					</div>
				</div>
			</fieldset>
		}
	</div>
</div>

@Html.Partial("_ImageEditPartial")

@section styles{
	@Styles.Render("~/Content/Vocabulary/VocabularyEdit.css")
}

@section Scripts {
	@Scripts.Render("~/Scripts/Vocabulary/Vocabulary.js")
}