@using PagedList.Mvc
@using RestChild.Web.Models.NewBout
@model RestChild.Web.Models.NewBout.ListModel

@{
    ViewBag.Title = "Заезды";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.SearchAction = "List";
    ViewBag.Controller = "NewBout";
    ViewBag.Caption = "Заезды";
    ViewBag.SearchPanelCaption = "Поиск";
    ViewBag.NeedInsertButton = false;
    var items = new List<SelectListItem> {new SelectListItem {Value = string.Empty, Text = "-- Не выбрано --"}};
    items.AddRange(Model.Times.Where(t => !t.IsDeleted).Select(v => new SelectListItem {Value = v.Id.ToString(), Text = v.Name}));
}

@section searchForm
{
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Год кампании</label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.Year, Model.Years.Select(y => new SelectListItem {Text = y.ToString(), Value = y.ToString()}), new {@class = "form-control select2", autocomplete = "off"})
        </div>
        <label class="col-md-2 control-label text-right">Место отдыха</label>
        <div class="col-md-4">
            @Html.HiddenFor(m => m.CampId, new {@class = "form-control CampId", titletext = Model.Camp != null ? Model.Camp.Name : string.Empty})
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Смена</label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.GroupedTime, items, new {@class = "form-control select2", autocomplete = "off"})
        </div>
        <label class="col-md-2 control-label text-right">Город</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.City, new {@class = "form-control", maxlength = 100, autocomplete = "off"})
        </div>
    </div>
}

@section additionalFilters
{
    <a class="btn btn-default" href="@Url.Action("ExcelList", "NewBout", Model)"><span class="glyphicon glyphicon-list-alt"></span> Экспорт в Excel</a>
}

@section searchResult
{
    @if (Model.Result != null && Model.Result.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center" width="5%">№</th>
                <th>Место отдыха</th>
                <th>Смена</th>
                <th>Адрес объекта</th>
            </tr>
            </thead>
            <tbody>
            @{ var rowNumber = Model.Result.FirstItemOnPage; }
            @foreach (var bout in Model.Result)
            {
                <tr>
                    <td class="text-center">@(rowNumber++)</td>
                    <td class="text-left">
                        <a href="@Url.Action("Manage", new {id = bout.Id})" target="_blank">
                            @(bout.Camp != null ? bout.Camp.Name ?? "Не указано" : "Не указано")
                        </a>
                    </td>
                    <td class="text-left">@bout.Change</td>
                    <td class="text-left">
                        @(bout.Camp != null ? bout.Camp.Address ?? "Не указано" : "Не указано")
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model.Result, page =>
                {
                    var item = new ListModel
                    {
                        CampId = Model.CampId,
                        City = Model.City,
                        Year = Model.Year,
                        GroupedTime = Model.GroupedTime,
                        PageNumber = page,
                    };
                    return Url.Action("List", item);
                }, new PagedListRenderOptions {DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} "})
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Поиск не дал результатов</p>
            </div>
        </div>
    }
}

@section styles
{
    @Styles.Render("~/Content/css/select2.css")
    @Styles.Render("~/Content/css/select2-bootstrap.css")
}

@section scripts
{
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/select2_locale_ru.js")
    @Scripts.Render("~/Scripts/NewBout/List.js")
}
