@using RestChild.Web.Extensions
@using RestChild.Comon
@using RestChild.Web.Models.Monitoring

@model  TourDataModel
@{
    var isEditable = (ViewData["isEditable"] as bool?) ?? true;
}

<div class="tour">
    <hr/>
    @Html.HiddenFor(m => m.Data.Id)
    @Html.HiddenFor(m => m.Data.HotelDataId)
    <div class="row">
        <fieldset class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Дата заезда: </label>
                <div class="col-md-2">
                    <div class="input-group date datepicker-anytime">
                        @Html.TextBoxFor(m => m.Data.DateIn, new {@class = "form-control input-mask-date-anytime", autocomplete = "off", @Value = Model.NullSafe(r => r.Data.DateIn).FormatEx("dd.MM.yyyy")}).ReadOnlyIf(() => !isEditable)
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <label class="col-sm-2 col-md-offset-1 control-label">Дата выезда: </label>
                <div class="col-md-2">
                    <div class="input-group date datepicker-anytime">
                        @Html.TextBoxFor(m => m.Data.DateOut, new {@class = "form-control input-mask-date-anytime", autocomplete = "off", @Value = Model.NullSafe(r => r.Data.DateOut).FormatEx("dd.MM.yyyy")}).ReadOnlyIf(() => !isEditable)
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    @if (isEditable)
                    {
                        <button type="button" class="btn btn-danger btn-primary remove-tour" role="button">Удалить заезд</button>
                    }
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Плановое кол-во детей: </label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Data.PlanChildrenCount, new {@class = "form-control input-mask-integer"}).ReadOnlyIf(() => !isEditable)
                </div>
                <label class="col-sm-2 col-md-offset-1 control-label">Кол-во отдохнувших: </label>
                <div class="col-md-2">
                    @Html.TextBoxFor(m => m.Data.FactChildrenCount, new {@class = "form-control input-mask-integer"}).ReadOnlyIf(() => !isEditable)
                </div>
            </div>
        </fieldset>
    </div>
</div>
