@using PagedList.Mvc
@using RestChild.Comon
@model RestChild.Web.Models.BookingMosgorturTargetsFilterModel
@{
    ViewBag.Title = "Справочник целей записи на прием";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.SearchAction = "Search";
    ViewBag.InsertAction = "Insert";
    ViewBag.SaveAction = "Save";
    ViewBag.Controller = "BookingMosgorturTargets";
    ViewBag.Caption = "Справочник целей записи на прием";
    ViewBag.InsertButtonCaption = "Добавить тип обращения";
    ViewBag.SearchPanelCaption = "Поиск целей записи на прием";
    ViewBag.NeedInsertButton = RestChild.Web.Controllers.Security.HasRight(RestChild.Comon.Enumeration.AccessRightEnum.MosgorturBookingTargetsEdit) || RestChild.Web.Controllers.Security.HasRight(RestChild.Comon.Enumeration.AccessRightEnum.MosgorturBookingTargetsEditClientDepartment) || RestChild.Web.Controllers.Security.HasRight(RestChild.Comon.Enumeration.AccessRightEnum.MosgorturBookingTargetsEditBookingDepartment);
}

@section searchForm
{
    <div class="form-group">
        <label class="col-md-3 control-label text-right">Название цели записи на прием</label>
        <div class="col-md-9">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>
    @if (RestChild.Web.Controllers.Security.HasRight(RestChild.Comon.Enumeration.AccessRightEnum.MosgorturBookingTargetsView))
    {
        <div class="form-group">
            <label class="col-md-3 control-label text-right">Отдел МГТ</label>
            <div class="col-md-4">
                @Html.DropDownListFor(m => m.DepartmentId, new SelectList(ViewBag.Departments, "Id", "Name"), new { @class = "form-control select2", autocomplete = "off" })
            </div>
        </div>
    }

}

@section searchResult
{
    @if (Model.Targets != null && Model.Targets.Count() > 0)
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center">№</th>
                    <th class="text-center">Название</th>
                    <th class="text-center">Для МПГУ</th>
                    <th class="text-center">Используется</th>
                    <th class="text-center">Отдел МГТ</th>
                </tr>
            </thead>
            <tbody>
                @{int rowNumber = Model.Targets.FirstItemOnPage;}
                @foreach (var target in Model.Targets)
                {
                    <tr>
                        <td class="text-center">@(rowNumber++)</td>
                        @if (RestChild.Web.Controllers.Security.HasRight(RestChild.Comon.Enumeration.AccessRightEnum.MosgorturBookingTargetsEdit))
                        {
                            <td>@Html.ActionLink(target.Name, "Update", new { id = target.Id }, new { target = "_blank" })</td>
                        }
                        else
                        {
                            <td>@target.Name</td>
                        }
                        <td class="text-center">@(target.IsForMPGU ? "Да" : "Нет")</td>
                        <td class="text-center">@(target.IsActive ? "Да" : "Нет")</td>
                        <td class="text-center">@(!target.Department.IsNullOrEmpty() ? target.Department.Name : "Информация отсутствует") </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model.Targets, page =>
                      {
                         Model.Targets = null;
                         Model.PageNumber = page;
                         return Url.Action("Search", Model);
                      }, new PagedListRenderOptions { DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} " })
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Поиск не дал результатов</p>
            </div>
        </div>
    }
}
