@using PagedList.Mvc
@using RestChild.Comon.Enumeration
@using RestChild.Web.Controllers
@model RestChild.Web.Models.MonitoringHotel.MonitoringHotelFilterModel

@{
    ViewBag.Title = "Объекты отдыха";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.SearchAction = "Search";
    ViewBag.InsertAction = "Insert";
    ViewBag.SaveAction = "Save";
    ViewBag.Controller = "MonitoringHotel";
    ViewBag.Caption = "Справочник объектов отдыха";
    ViewBag.InsertButtonCaption = "Добавить объект отдыха";
    ViewBag.SearchPanelCaption = "Поиск объектов отдыха";
    ViewBag.NeedInsertButton = Security.HasRight(AccessRightEnum.VocabularyManage);
}

@section searchForm
{
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Название</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        </div>
        <label class="col-md-1 control-label text-right">ИНН</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.INN, new {@class = "form-control"})
        </div>
    </div>
}

@section searchResult{
    @if (Model.Results != null && Model.Results.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center" width="5%">№</th>
                <th>Сокращенное название</th>
                <th>Полное название</th>
                <th>ИНН</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @{
                int rowNumber = Model.Results.FirstItemOnPage;
            }
            @foreach (var obj in Model.Results)
            {
                <tr>
                    <td class="text-center">@(rowNumber++)</td>
                    <td>@obj.ShortName</td>
                    <td>@obj.FullName</td>
                    <td>@obj.Inn</td>
                    <td class="text-center">@Html.ActionLink(" ", "Edit", new {id = @obj.Id}, new {@class = " glyphicon glyphicon-pencil", target = "_blank"})</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model.Results, page =>
                {
                    Model.Results = null;
                    Model.PageNumber = page;
                    return Url.Action("Search", Model);
                }, new PagedListRenderOptions {DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} "})
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Поиск не дал результатов</p>
            </div>
        </div>
    }
}
