@using PagedList.Mvc
@using RestChild.Comon
@model RestChild.Web.Models.Orphans.OrphanagePupilGroupListFilterModel
@{
    ViewBag.Title = "Реестр групп отправок учреждений социальной защиты";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.SearchAction = "OrphanagePupilGroupListsList";
    ViewBag.Controller = "Orphan";
    ViewBag.Caption = "Реестр групп отправок учреждений социальной защиты";
    ViewBag.SearchPanelCaption = "Поиск";
    ViewBag.NeedInsertButton = false;
}

@section scripts {
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/select2_locale_ru.js")

    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>

    <script type="text/javascript">
        moment.locale("ru");
    </script>
    <script type="text/javascript" src="~/Scripts/Vocabulary/Orphanage.Universal.js"></script>
}

@section styles{
    @Styles.Render("~/Content/css/select2.css")
    @Styles.Render("~/Content/css/select2-bootstrap.css")
}

@section searchForm
{
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Год потребности</label>
        <div class="col-md-4">
            @Html.DropDownListFor(r => r.YearOfRest, new SelectList(Model.YearsOfRest.Select(o => new { Id = (long?)o.Key, Name = o.Value }).OrderBy(ss => ss.Name).ToList().InsertAt(new { Id = (long?)null, Name = "-- Не выбрано --" }), "Id", "Name"), new { @class = "form-control" })
        </div>
        <label class="col-md-2 control-label text-right">Порядковый номер группы</label>
        <div class="col-md-4">
            @Html.TextBoxFor(r => r.Name, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Форма отдыха и оздоровления</label>
        <div class="col-md-4">
            @Html.DropDownListFor(r => r.FormOfRestId, new SelectList(Model.FormsOfRest.Select(o => new { Id = (long?)o.Key, Name = o.Value }).ToList().InsertAt(new { Id = (long?)null, Name = "-- Не выбрано --" }), "Id", "Name"), new { @class = "form-control" })
        </div>
        <label class="col-md-2 control-label text-right">Статус</label>
        <div class="col-md-4">
            @Html.DropDownListFor(r => r.StateId, new SelectList(Model.States.Select(o => new { Id = (long?)o.Key, Name = o.Value }).ToList().InsertAt(new { Id = (long?)null, Name = "-- Не выбрано --" }), "Id", "Name"), new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label text-right">Учреждение</label>
        <div class="col-md-10">
            @Html.HiddenFor(r => r.OrphanageId, new { @class = "form-control organisationSelect", @data_default_id = Model.OrphanageId, @data_default_text = Model.OrphanageName })
        </div>
    </div>
}

@section additionalFilters
{
    <a class="btn btn-default" href="@Url.Action("ExcelOrphanagePupilGroupListList", "Orphan", Model)"><span class="glyphicon glyphicon-list-alt"></span> Экспорт в Excel</a>
}

@section searchResult
{
    @if (Model.Result != null && Model.Result.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center" width="5%">№</th>
                    <th class="text-center">Наименование учреждения</th>
                    <th class="text-center">Порядковый номер группы</th>
                    <th class="text-center">Год потребности</th>
                    <th class="text-center">Форма отдыха и оздоровления</th>
                    <th class="text-center">Размещение</th>
                    <th class="text-center">Статус</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{ var rowNumber = Model.Result.FirstItemOnPage; }
                @foreach (var List in Model.Result.ToList())
                {
                    <tr>
                        <td class="text-center">@(rowNumber++)</td>
                        <td class="text-left">@List.OrphanageName</td>
                        <td class="text-left">@List.GroupName</td>
                        <td class="text-center">@List.YearOfRest</td>
                        <td class="text-left">@List.FormOfRest</td>
                        <td class="text-left">@List.TourName</td>
                        <td class="text-center">@List.StateName</td>
                        <td class="text-center">@Html.ActionLink(" ", "OrphanagePupilGroupListEdit", new { listId = List.Id }, new { @class = " glyphicon glyphicon-pencil", target = "_blank" })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model.Result, page =>
                {
                    Model.Result = null;
                    Model.PageNumber = page;
                    return Url.Action("OrphanagePupilGroupListsList", Model);
                }, new PagedListRenderOptions {DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} "})
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Поиск не дал результатов</p>
            </div>
        </div>
    }
}
