@using System.Collections
@using PagedList.Mvc
@using RestChild.Comon
@using RestChild.Domain
@model RestChild.Admin.Web.Models.GiftCancelHistoryFilter
@{
    ViewBag.Title = "Отмена зарезервированных подарков.";
    ViewBag.Caption = "Отмена зарезервированных подарков.";
}



@if (Model.Result != null && Model.Result.Any())
{
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th class="text-center" width="5%">№</th>
            <th>Дата/время резервирования</th>
            <th>Пользователь</th>
            <th>Событие</th>
        </tr>
        </thead>
        <tbody>
        @{int rowNumber = Model.Result.FirstItemOnPage;}
        @foreach (var row in Model.Result)
        {
            var acc = row.AccountExternal ?? new RestChild.Mobile.Domain.AccountExternal();
            <tr>
                <td class="text-center">@(rowNumber++)</td>
                <td>@string.Format("{0:dd.MM.yyyy HH:mm}", row.DateChange)</td>
                <td>@acc.Name</td>
                <td>
                    @row.EventCode <br>
                    @row.Commentary
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            @Html.PagedListPager(Model.Result, page =>
            {
                Model.Result = null;
                Model.PageNumber = page;
                return Url.Action("History", Model);
            }, new PagedListRenderOptions {DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} "})
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <p>Поиск не дал результатов</p>
        </div>
    </div>
}




@section styles
{
    @Styles.Render("~/Content/css/select2.css")
    @Styles.Render("~/Content/css/select2-bootstrap.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
}

@section scripts
{
    <script type="text/javascript" src="~/Scripts/moment.js"></script>
    <script type="text/javascript" src="~/Scripts/moment-with-locales.js"></script>
    <script type="text/javascript">
      moment.locale('ru');
   </script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/select2_locale_ru.js")
    <script type="text/javascript" src="~/Scripts/Vocabulary/SecurityJournal.js"></script>
}
