@using PagedList.Mvc
@using RestChild.Comon
@using RestChild.Comon.Enumeration
@using RestChild.Domain
@using RestChild.Web.Controllers
@model RestChild.Web.Models.TradeUnionCashback.TradeUnionCamperCashbackFilterModel

@{
    ViewBag.Title = "Реестр претендентов на кэшбэк";
    Layout = "~/Views/Shared/_SearchLayout.cshtml";
    ViewBag.SearchAction = "Search";
    ViewBag.Controller = "TradeUnionCashback";
    ViewBag.Caption = "Реестр претендентов на кэшбэк";
    ViewBag.SearchPanelCaption = "Реестр претендентов на кэшбэк";
    ViewBag.NeedInsertButton = false;
}


@section additionalInserts{
    @if (Security.HasRight(AccessRightEnum.TradeUnionCashback.RegistryView)){<a class="btn btn-primary" href="@Url.Action("ExportCSV", "TradeUnionCashback", Model)"><span class="glyphicon glyphicon-export"></span> Выгрузить CSV для ГУ</a>}
}

@section searchForm
{
    <div class="form-group">
        <label class="col-md-2 control-label text-right">ФИО ребенка</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.FIO, new {@class = "form-control"})
        </div>
        <label class="col-md-2 control-label text-right">СНИЛС ребенка</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.SNILS, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label text-right">Серия документа</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DocumentSeria, new {@class = "form-control"})
        </div>
        <label class="col-md-2 control-label text-right">Номер документа</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.DocumentNumber, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label text-right">Лагерь</label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.CampId, new SelectList(Model.Camps, "Key", "Value"), new {@class = "form-control"})
        </div>
        <label class="col-md-2 control-label text-right">Смена</label>
        <div class="col-md-4">
            @Html.DropDownListFor(m => m.ShiftId, new SelectList(Model.Shifts, "Key", "Value"), new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label text-right">ФИО законного представителя</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RepresentativeFIO, new {@class = "form-control"})
        </div>
        <label class="col-md-2 control-label text-right">СНИЛС законного представителя</label>
        <div class="col-md-4">
            @Html.TextBoxFor(m => m.RepresentativeSNILS, new {@class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label text-right">Запрашивался кэшбэк</label>
        <div class="checkbox col-md-2" style="padding-left: 25px;">
            @Html.CheckBoxFor(m => m.CashbackRequested)
        </div>

    </div>
}

@section searchResult{
    @if (Model.Results != null && Model.Results.Any())
    {
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center" width="5%">№</th>
                <th>ФИО ребенка</th>
                <th>СНИЛС ребенка</th>
                <th>Серия документаа</th>
                <th>Номер документа</th>
                <th>Лагерь</th>
                <th>Смена</th>
                <th>ФИО законного представителя</th>
                <th>СНИЛС законного представителя</th>
                <th>Запрашивался кэшбэк</th>
            </tr>
            </thead>
            <tbody>
            @{
                int rowNumber = Model.Results.FirstItemOnPage;
            }
            @foreach (var pretender in Model.Results)
            {
                <tr>
                    <td class="text-center">@(rowNumber++)</td>
                    <td>@(pretender.Child.LastName + " " + pretender.Child.FirstName + " " + pretender.Child.MiddleName ?? "")</td>
                    <td>@pretender.Child.Snils</td>
                    <td>@pretender.Child.DocumentSeria</td>
                    <td>@pretender.Child.DocumentNumber</td>
                    <td>@pretender.TradeUnion.Camp.Name</td>
                    <td class="col-md-1">@pretender.TradeUnion.GroupedTimeOfRest.Name</td>
                    <td>@(pretender.Parent.LastName + " " + pretender.Parent.FirstName + " " + pretender.Parent.MiddleName ?? "")</td>
                    <td>@pretender.Parent.Snils</td>
                    <td>@((pretender.CashbackRequested ?? false) ? "Да" : "Нет")</td>
                </tr>
            }
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-12">
                @Html.PagedListPager(Model.Results, page =>
                {
                    Model.Results = null;
                    Model.PageNumber = page;
                    return Url.Action("Search", Model);
                }, new PagedListRenderOptions {DisplayItemSliceAndTotal = true, ItemSliceAndTotalFormat = "Всего записей: {2} "})
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Поиск не дал результатов</p>
            </div>
        </div>
    }
}

@section styles{
    @Styles.Render("~/Content/css/select2.css")
    @Styles.Render("~/Content/css/select2-bootstrap.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/select2.min.js")
    @Scripts.Render("~/Scripts/select2_locale_ru.js")
    <script type="text/javascript">
        $(function () {
            $('select').select2();
        });
    </script>
}

@section additionalFilters
{
    <a class="btn btn-default" href="@Url.Action("ExcelList", "TradeUnionCashback", Model)"><span class="glyphicon glyphicon-list-alt"></span> Экспорт в Excel</a>
}
